doctype html
html lang="en-US"
  head
    meta charset="UTF-8"
    title 切版教學
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    link href="stylesheets/styles.css" rel="stylesheet"
    meta content="Junnnnj ArtPlanners" name="author"
  body
    .wrap
      header
        h1
          a.img-logo href="#" Slices
      section
        nav
          li.img-Star1
            a href="#" Star1
          li.img-Star2
            a href="#" Star2
          li.img-Star3
            a href="#" Star3
          li.img-Star4
            a href="#" Star4
      footer
        p To learn how to tag areas for exporting, browse the layers in this PSD…